/*Kylee Cormier*/ 

/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&family=Montserrat:wght@400;600&display=swap');

:root{
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0; 
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF; 
    --black: #000000; 
}


h1, h2, h3 {
    font-family: "Molle", cursive;
    color: var(--black)
}

h4, p, q, small, nav, button, form {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
}

body {
    background-color: var(--white);
    width: 100%;
}

/* Header Styles */

header {
    background: linear-gradient(#499BD2, #FFFFFF);
    padding: 10px 10px;
    display: flex;
    flex-direction: column; 
}
     
h1 {
    font-size: 40px;
}

header p {
    font-size: 15px;
    line-height: 15px;
    text-align: left;
}

header #logo{
	display: block;
    padding: 5px;
	width: 150px;
}

/* Nav Styles */

#menu-toggle {
    display: block;
    position: relative;
    z-index: 1;
    top: -190px;
    left: 210px;
    background-color: var(--yellow);
    color: black;
}

#menu-toggle label {
    display: block;
    position: relative; 
    width: auto;
    z-index: 2;
    background-color: var(--yellow);
    padding: 20px;
}

#menu-toggle input {
    position: relative;
    width: 25px;
    height: 25px;
    opacity: 0;
    top: 25px;
    left: -5px;
    padding: 0px;
}

#menu-toggle a {
    text-decoration: none;
    color: black;
}

#menu-toggle ul {
    display: flex;
    flex-flow: column;
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--teal);
}

#menu-toggle ul li {
    padding: 20px;
    font-size: 15px;
    border-bottom: 2px solid;
    border-bottom-color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
}

#menu-toggle input:checked + label {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    right: 200px;
    padding: 5px;
} 

#menu-toggle input:checked ~ ul {
    right: 200px;
}

/* Accessibility Styles */

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

#skip{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* Main Styles */

#intro p {
    line-height: 15px; 
}

#img-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px 0;
    grid-gap: 10px;
}

#img-grid img {
    width: 100%;
    height: auto;
}

#plan div {
    background-color: var(--yellow);
    margin: 15px;
    justify-content: center;
    align-items: center;
}

#plan h3 {
    font-size: 30px;
}

#plan h4 {
    text-transform: uppercase;
    margin: 15px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#plan section {
    display: flex;
    flex-direction: column;
    background-color: var(--teal);
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 2px solid;
    border-color: var(--white);
    border-radius: 15px;
}

#plan img {
    display: block; 
    margin: 0 autp;
    width: 60px;
    height: auto;
}

/*Small Screens*/




/*Large Screens*/

@media (min-width: 1250px) {
    nav {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }

    #menutoggle ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
